###   {{ ansible_managed }}   ###
Package: kubectl
Pin: version {{ pik8s_kubernetes_version }}.*
Pin-Priority: 1000
Package: kubeadm
Pin: version {{ pik8s_kubernetes_version }}.*
Pin-Priority: 1000
Package: kubelet
Pin: version {{ pik8s_kubernetes_version }}.*
Pin-Priority: 1000
